* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.Home {
  background: url("https://images.unsplash.com/photo-1678032862679-3ad28a6192a7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8Ym84alFLVGFFMFl8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60");
  z-index: 0;
  display: flex;
  position: relative;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.Main {
  display: flex;
  position: relative;
  border: 3px solid;
  box-shadow: 10px 10px black;
  flex-direction: column;
  width: 60%;
  height: 90%;
}
.Main_intro {
  display: flex;
  position: relative;
  background-color: rgb(46, 46, 48);
  align-items: center;
  justify-content: center;
}
.Intro_image {
}
.Image {
  padding-top: 10px;
  margin-left: 10px;
}
.Image1 {
  margin-left: 18px;
  border-radius: 50%;
}
.Name {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.Main_infor {
  background-color: white;
  height: 100%;
}
.text {
  font-size: 30px;
  margin-left: 20px;
  margin-top: 10px;
}
